*{
	font-family: Poppins;
}

.logo{
    background: black;
}
.d-flex{
 	width :500px;
 	margin-right: 50px;
 }
 

 
h5{
	background: grey;
	font-size: 30px;
	color: black;

}

a{
    text-decoration-color: black;

}

 
.bgimg{
	width: 770px;
	height: 400px;
	opacity: 30%;
	position: relative; left: 0px; top:20px;
    margin-left: 250px;

}
 
 
 .col{
 	padding: 30px;
 }

 .card1{
 	padding: 10px;
 	 position: relative;left: 30px;
 }
 
 .card2{
 	padding: 10px;
 	 position: relative;left: 30px;
 }
 .card3{
 	padding: 10px;
 	position: relative;left: 30px;
 	 
 }

 .card-img-top{
 	height: 155px;
 }

 .card-text{
 	color: black;
 	font-size: 10px;
 }
 
 .card-title{
 	color: white;
 	background-color: black;
 	font-size: 15px;
 }
 h6{
 	font-size: 10px;
 }
 small{
 	font-size: 12px;
 }
 .new{
    text-decoration-line: underline; 
 	text-underline-position: under;
 	margin-left: 15px;

 }
 h3{
 	text-decoration: underline;
 	margin-left: 15px;
 }

 li{
 	 
 	list-style: none;
 }

 .details{
 	list-style: none;
 	list-style-type: none;
 	 


 }

 footer{
 	background-color: #0C090A;
 }

 #links{
 	  
 }
 .copy{
 	 
 	color: white;
 	font-size: 15px;
 	 
 }
 #Contact{
 	 
 color: white;
 }

  