 
 header{
 	background-color: violet;
 	height: 53.5px;
 	
 }
  
 li{
 	 
 	font-family: Poppins;
 	display: inline;
 	 
 	margin: 50px;
 	height: 53.5

 }
 li a{

 	text-decoration: none;
 	color: black;
 	list-style-position : right;
 }
 .About{
 	font-family:  Poppins   ;
 	font-style: bold;
 	color: black;
 	text-align: center;
 }
 
 .icons{
 	margin: 50px;
 }
 .column {
  float: left;
  width: 33.33%;
  text-align: center;
}
 
footer{
	background-color: violet;
 
	width: 100%
	color:black;
	text-align: left;
	padding: 10px;
	width: 100%;
	margin-top: 20px 
}

.image{
	 text-align: center;
	 
	 opacity: 35%;
	 padding: 30px

}
.copy{
	text-align: center;
	left: 0;
	bottom: 0px;
	width: 100%;

}

.Welcome{
	font-family: Acme;
	margin-left: 20px;

}

.instagram{

  text-align: right;
  margin-right: 50px;

 }

 
